
#drawingHeader{
	 border: 2px solid #26445f;
    border-left:0px;
    border-right:0px;
    background-color:#3d668f;
    height:auto;
    width: auto;
    padding-top: 5px;
    background-color:#3d668f;
    
     
}
.canvasDiv{
	position:relative;
	 float:left;
    background-color:#FFFFFF;
    margin:10px 10px 10px 10px;
    width: 98.3%;
    border: 1px dotted #26445f;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	
}
#sidepane{
	float: right;
	width: 25%;
	margin-bottom: 10px;
	padding: 10px;
	border:1px solid #000;
}
.editorContainer{
    background-color: #efefef;
    border: 3px solid #26445f;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#drawingFooter{
	 clear: both;
    padding: 10px;
    width: auto;
    border: 2px solid #26445f;
    border-left:0px;
    border-right:0px;
    background-color:#3d668f;
}
#drawingObsform{
	margin-bottom: 10px;
	padding: 10px;
	border:1px solid #1AAC9B;
}
.iconDiv{
	 height:auto;
    width: auto;
    float:left;    
    border: 1px solid #000000;
    padding:2px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #efefef;
    color:#ffffff;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	
}

.selection{
    height:20px;
    width: auto;
    float:left;    
    padding:2px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 3px;
    margin-right: 3px;
    color:#ffffff;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}
.highlight {
	 border-color: #F1CA7E;
 }
 .imageprop{
 	height:20px;
 	width: 20px;
 	cursor: pointer;
 }

 .calloutDown
    {
        height: 0;
        width: 0;
        border-top: 12px solid #F1CA7E;
        border-left: 12px dotted transparent;
        border-right: 12px dotted transparent;
        left: 0px;
        top: 0px;
        margin-left: 20px;
        z-index: 11;
    }
    .calloutDown2
    {
        position: relative;
        left: -10px;
        top: -12px;
        height: 0;
        width: 0;
        border-top: 10px solid #FFFFFF;
        border-left: 10px dotted transparent;
        border-right: 10px dotted transparent;
        z-index: 10;
    }
    
 .divContainerDown
{
  background-color: #FFFFFF;
  border: solid 1px #F1CA7E;
  position: relative;
  top: 1px;
  z-index: 5;
  width: 200px;
  padding: 4px;
 }
.link {
    text-decoration: none;
	color: #0000FF;
	cursor: pointer;
}

.divContainerDown a:hover{
    text-decoration:underline;
	
}

.templateImage{
   width:430px;
   height:270px;
   margin:10px;
   cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.templateName{
   cursor: pointer;
}
