
#drawingheader{
	margin: 0 0 10px 0;
	padding:10px;
	height:auto;
	border: 1px solid #000;
	background-color: #ccc;
}
#canvasDiv{
	float:left;
	margin-bottom: 10px;
	width: 100%;
	border: 1px solid #000;
	
}
#sidepane{
	float: right;
	width: 25%;
	margin-bottom: 10px;
	padding: 10px;
	border:1px solid #000;
}
#drawingfooter{
	clear: both;
	margin-bottom: 10px;
	padding: 10px;
	border:1px solid #000;
	background-color: #ccc;
}
#drawingObsform{
	margin-bottom: 10px;
	padding: 10px;
	border:1px solid #1AAC9B;
}
.iconDiv{
	height:20px;
	width: 20px;
	float:left;	
	border: 1px solid #999;
	padding:2px;
	margin-left: 3px;
	margin-right: 3px;
	background-color: #DDD;
	
	
}
.highlight {
	 background: #EEEEEE;
	 border-color: #F1CA7E
 }
 .imageprop{
 	height:20px;
 	width: 20px;
 }
